/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, sans-serif;

    background:linear-gradient(
        135deg,
        #f7f2ff,
        #fdfcff
    );

    min-height:100vh;
}

/* Navigation */

.navbar{

    width:90%;

    margin:20px auto;

    background:white;

    border-radius:20px;

    padding:18px 40px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 8px 25px rgba(150,120,200,.12);

    position:sticky;

    top:15px;

    z-index:1000;
}

.logo{

    font-size:32px;

    font-weight:bold;

    color:#3f2a56;
}

.nav-links{

    display:flex;

    list-style:none;

    gap:40px;
}

.nav-links a{

    text-decoration:none;

    color:#555;

    font-weight:600;

    transition:.3s;
}

.nav-links a:hover{

    color:#9b6de5;
}

.contact-btn{

    background:#a77df4;

    color:white;

    padding:12px 24px;

    border-radius:12px;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;
}

.contact-btn:hover{

    background:#8d63db;
}
