/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, sans-serif;

    background:linear-gradient(
        135deg,
        #f7f2ff,
        #fdfcff
    );

    min-height:100vh;
}

/* Navigation */

/* Navigation Bar */

.navbar{

    width:90%;
    margin:20px auto;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 40px;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    position:sticky;
    top:15px;
}

.logo{

    font-size:32px;

    font-weight:bold;

    color:#40335a;
}

.nav-links{

    list-style:none;

    display:flex;

    gap:35px;
}

.nav-links li{

    display:inline-block;
}

.nav-links a{

    text-decoration:none;

    color:#444;

    font-weight:600;

    transition:.3s;
}

.nav-links a:hover{

    color:#a77df4;
}

.contact-btn{

    background:#b18cff;

    color:white;

    padding:12px 25px;

    border-radius:12px;

    text-decoration:none;

    font-weight:bold;
}

.contact-btn:hover{

    background:#9c6ff0;
}

/* ---------------- HERO ---------------- */

.hero{

    width:90%;

    margin:80px auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:70px;
}

.hero-content{

    flex:1;
}

.hero-tag{

    display:inline-block;

    color:#9b6de5;

    font-weight:bold;

    letter-spacing:2px;

    text-transform:uppercase;

    margin-bottom:20px;
}

.hero-content h1{

    font-size:70px;

    color:#342a4f;

    line-height:1.1;

    margin-bottom:25px;
}

.hero-content p{

    font-size:20px;

    color:#666;

    line-height:1.8;

    max-width:520px;

    margin-bottom:35px;
}

.hero-button{

    display:inline-block;

    text-decoration:none;

    background:#a97cf5;

    color:white;

    padding:18px 40px;

    font-size:18px;

    border-radius:16px;

    font-weight:bold;

    transition:.3s;
}

.hero-button:hover{

    background:#9163e8;

    transform:translateY(-4px);
}

.hero-image{

    flex:1;

    display:flex;

    justify-content:center;
}

.hero-image img{

    width:100%;

    max-width:600px;

    border-radius:30px;

    box-shadow:0 25px 40px rgba(0,0,0,.15);

    transition:.4s;
}

.hero-image img:hover{

    transform:scale(1.03);
}
