/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, sans-serif;

    background:linear-gradient(
        135deg,
        #f7f2ff,
        #fdfcff
    );

    min-height:100vh;
}

/* Navigation */

/* Navigation Bar */

.navbar{

    width:90%;
    margin:20px auto;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 40px;

    border-radius:20px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    position:sticky;
    top:15px;
}

.logo{

    font-size:32px;

    font-weight:bold;

    color:#40335a;
}

.nav-links{

    list-style:none;

    display:flex;

    gap:35px;
}

.nav-links li{

    display:inline-block;
}

.nav-links a{

    text-decoration:none;

    color:#444;

    font-weight:600;

    transition:.3s;
}

.nav-links a:hover{

    color:#a77df4;
}

.contact-btn{

    background:#b18cff;

    color:white;

    padding:12px 25px;

    border-radius:12px;

    text-decoration:none;

    font-weight:bold;
}

.contact-btn:hover{

    background:#9c6ff0;
}
